

.header {
    background-color: #0889a0;
    position: sticky !important;
    width: 100%;
    top: 0;
    z-index: 100;
    color: white;
    font-weight: 600;
}

.title {
    text-decoration: none;
    font-weight: 900;
    padding-right: 10px;
    font-size: xx-large;
    color: black;
}

.account {
    list-style: none;

}


/*login*/
/*
.login-form {
    border: 1px solid #ced4da; 
    border-radius: 10px; 
    padding: 20px;
}
*/